body {
	background-color: aquamarine;
	color: red;
	font-family: Comic Sans, monospace;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: blue;
}

a:hover {
	color:orangered;
}

#container, main {
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#header ul {
	display: flex;
}

#header li {
	margin-left: 1em
}

#header a {
	font-size: 1.5em;
}

#portfolio {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}

.project {
	border: 2px solid orangered;
	padding: 1em;
	background-color: transparent;
}
